/* 
    Created on : 03/11/2018, 19:52:52
    Author     : Winder Rezende
*/

.divPrincipal{
    text-align: center;
    width: 100%
}

.img{
    width: 45%;
}

.msg{
    font-size: 25px;
}

.footer{
    padding-top: 16%;
}