/* 
    Created on : 03/11/2018, 19:52:52
    Author     : Winder Rezende
*/

.divPrincipal{
    text-align: center;
}

.img{
    margin-top: 20%;
}

.msg{
    font-size: 25px;
}

.footer{
    margin-top: 28%;
}